.nav_bar{
    display: flex;
}

.nav_bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_bar ul li{
    margin-left: 38px;
}

.nav_bar span{
    width: 3px;
    height: 40px;
    margin-left: 19px;
    background-color: var(--font-color);
}