* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: #18191F;
    --bg-color: #F5F7FA;
}

#root {
    max-width: 2200px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.container {
    margin-left: 150px;
}

button{
    outline: none;
    border: none;
    cursor: pointer;
}

li{
    list-style: none;
}

li > a{
    text-decoration: none;
    cursor: pointer;
}

